@font-face {
    font-family: "OpenSans";
    src: url(../font/FontAwesome.otf);
}
@font-face {
    font-family: "NunitoRegular";
    src: url(../font/NunitoRegular.ttf);
}
@font-face {
    font-family: "Ubuntu";
    src: url(../font/Ubuntu.ttf);
}
@font-face {
    font-family: "UbuntuMedium";
    src: url(../font/UbuntuMedium.ttf);
}
@font-face {
    font-family: "UbuntuLightItalic";
    src: url(../font/UbuntuLightItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
}
.block_1 {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;  
    margin-top: 7px;
    margin-bottom: 10px;
}
.logo {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 130px;
}

.logo h2 {
    font-size: 38px;
    font-family: "Ubuntu";
    line-height: 1.707;
    text-transform: uppercase;
    margin-left: 10px;
}
.logo span {
    color: #65a9d9;
}


nav ul {
    display: flex;
    
    
}
nav a {
    text-decoration: none;
    color: rgba(45, 57, 76, 0.839);
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 13px;
}
nav li {
    list-style: none;
    font-family: "Ubuntu";
    margin-left: 33px;
   
    
}
.navi {
    
    display: flex;
    align-items: center;
    padding-right: 93px;
}
.fon {
    background-image: url(../images/fon_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    padding-top: 16%;
    padding-left: 11%;
    padding-bottom: 258px;
}
.fon h3 {
    color: #f7f6f2;
    font-family: "Ubuntu";
    font-size: 52px;
    text-transform: uppercase;
    padding-bottom: 32px;
    letter-spacing: 2px;
}
.block_1 li:hover {
    text-decoration: underline;
}
.block_2 {
    width: 585px;
}
.e_mail {
    display: flex;
    align-items: center;
}
.block_2 p{
    font-family: "UbuntuMedium";
    color: #ffffff;
    font-size: 22px;  
    
}
.text_8 {
    padding-bottom: 60px;
}
.text_9 {
    
    font-size: 16px;
}
.text_1 {
    
    background-color: #ffce54;
    border-radius: 5px;
    padding: 3px 8px;
    font-size: 16px;
    
}
.e_mail {
    padding-top: 35px;
}
 .block_2 input {
    padding: 15px;
    color: #2d394c;
    font-family: "Ubuntu";
    border-radius: 10px;
    padding-right: 190px;
    border-style: none;
   
 } 
.lg {
    display: flex;
    justify-content:center;
    background-color: #f8f8f8;
    flex-wrap: wrap;

    
}
.lg .logo {
    margin: 61px 0;
    margin-left: 82px;
    
}


 .text_2 {
    background-color: #77c344;
    color: #ffffff;
    font-family: "Ubuntu";
    border-radius: 5px;
    padding: 18px 30px;
    margin-left: 38px;
    font-size: 16px;
 }
 .block_2 a {
    text-decoration: none;
    color: #ffffff;
}

    

 .block_4 {
     
    text-align: center;
    margin-top: 95px;
    margin-bottom:55px;
    font-size: 40px;
    font-family: "Ubuntu";
    color: rgba(45, 57, 76, 0.851);
    text-transform: uppercase;
 }
 .fon_1 {
    display: flex;
    Justify-content: space-between; 
 }
 .meny {
     display: flex;
     align-items:center;
 }
.block_5 {
    
    width: 35%; 
    margin: 0 auto;
    margin-top: 4%; 
    
}
.block_6 {
    height: 809px;
    background-image: url(../images/fon_4.jpg);
    width: 743px;
    background-repeat: no-repeat;
    background-size: cover;
}
.bl {
    display: flex;
    align-items:center;
}
.block_5 h4 {
    color: #2d394c;
    font-family: "Ubuntu";
    font-size: 22px;
}

.block_5 img {
      
    padding-left: 27px;
    padding-right: 15px;
      
  }
.block_5 p {
    padding-left: 41px;
    padding-bottom: 35px;
    font-family: "OpenSans";
    color: #9499a2;
    text-align: justify;
    line-height: 22px;
      
  }
.fon_2 {
    background-image: url(../images/fon_5.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 732px;
    
  }
.fon_2 h2 {
    padding-left: 28%;
    padding-top: 153px;
    padding-bottom: 155px;
    font-size: 40px;
    color: #2d394c;
    font-family: "Ubuntu";
    
  }
  .block_7 img{
    float: left;
  }
  .block_7 h4 {
    color: #2d394c;
    font-family: "Ubuntu";
    font-size: 28px;
    padding-left: 21px;
  }
  .text_4 {
      margin-left: 130px;
      width: 49%;
      
  }
  .block_7 p {
    margin-top: 21px;
    opacity: 0.89;
    color: #5a626e;
    font-family: "Open Sans";
    font-size: 16px;
    line-height: 32px;
  }
.fon_3 {
    
    height: 483px;
}
.fon_3 h3 {
    text-align: center;
    color: #5a626e;
    font-family: "Ubuntu";
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 136px;
}
.fon_3 p {
    color: #5a626e;
    font-family: "Ubuntu - Light Italic";
    font-size: 24px;
    text-align: center;
    padding-top: 37px;
}
.text_5 {
    display: flex;
    justify-content:center;
    padding-top: 64px;
}
.text_5 input {
    padding: 20px;
    color: #2d394c;
   font-family: "Ubuntu";
   border-radius: 10px;
   width: 588px;
   border-style: groove;
}
.text_5 a {
    text-decoration: none;
    color: #ffffff;
}


.fon_3 button {
    background-color: #77c344; 
    border: none;
    text-transform: uppercase;
    color: white;
    padding: 25px 60px;
    font-family: "Ubuntu";
    border-radius: 3px;
    cursor: pointer;
    margin-left: 50px;
}
.fon_3 button:hover {
    background-color: #06c200;
}
    


.block_8 {
    display: flex;
    background-color: #f9f9f9;
    Justify-content: space-between;
    height: 139px;
}
.logo_2 {
    display: flex;
    padding-left: 127px;
    justify-content:center;
    align-items: center;
}
.block_8 nav {
    margin-right: 60px;
}

.block_8 h2 {
    text-transform: uppercase;
    font-family: "Ubuntu";
    color: #a2a2a2;
    font-size: 30px;
}
.block_8 li {
    margin-right: -16px;
}
.block_8 li:hover {
    text-decoration: underline;
}
.navi .m {
    border-left: 1px solid #a2a2a2;
    
}
.logo_2 span {
    color: #d1d1d1;
}



@media screen and (max-width: 1115px) {
    .logo_2 {
        padding-left: 10px;
    }
    .logo {
    margin-left: 10px;

  }
}
@media screen and (max-width: 996px) {
    .block_1 {
        flex-direction: column;
        align-items: center;
    }
    .logo_2 {
        display:none;
    }
    .text_5 input {
        width: 300px;
    }
    .block_8 {
        Justify-content: center;
    }
    .block_8 nav {
        margin-right: 0px;
    }
    .block_8 .navi {
        padding-right: 0px;
    }

    
}
@media screen and (max-width: 720px) {
    .navi {
        padding-right: 0px;
    }
    .block_2 {
        width: 100%;
    }
    .block_2 input {
        margin: 33px 0;
    }
    .e_mail {
        flex-direction: column;
    }
    .block_6 {
        display:none;
    }
    .block_5 {
        width: 100%;
    }
    nav li {
    margin-left: 8px;
    }
    .block_8 li {
        margin-right: -2px;
    }
    .block_8 {
        Justify-content: center;
    } 
    .fon_2 {
    height: 400px;
    }
    .fon_2 h2 {
        padding-top: 50px;
        padding-bottom: 50px;
        text-align: center;
        padding-left: 0%;
    }
    .text_4 {
        margin: 0px 56px;
        width: 85%;
        Text-align: justify;
    }
    .block_5 {
        padding: 0 41px;
        padding-bottom: 52px;
    }
    .fon_2 h2 {
    font-size: 30px;
    }
    .block_7 h4 {
        font-size: 20px;
    }

    .text_5 input {
        width: 200px;
    }
}
@media screen and (max-width: 585px) {
    .block_2 input {
        padding-right: 90px;
    }
    .block_2 p {
        font-size: 14px;
    }
    .fon_2 h2 {
        font-size: 30px;
    }
    .fon_3 h3 {
        font-size: 30px;
    }
    .lg .logo {
        margin-left: 40px;

    }
    .text_5 {
    align-items: center;
    flex-direction: column;
    }
    .fon_3 button {
        margin-left: 0px;
        margin-top: 15px;
    }
    .block_8 .navi a {
        font-size: 10px;
    }
}