@font-face {
    font-family: "OpenSans";
    src: url(../font/FontAwesome.otf);
}
@font-face {
    font-family: "NunitoRegular";
    src: url(../font/NunitoRegular.ttf);
}
@font-face {
    font-family: "Ubuntu";
    src: url(../font/Ubuntu.ttf);
}
@font-face {
    font-family: "UbuntuMedium";
    src: url(../font/UbuntuMedium.ttf);
}
@font-face {
    font-family: "UbuntuLightItalic";
    src: url(../font/UbuntuLightItalic.ttf);
}

* {
    margin: 0;
    padding: 0;
}
.block_1 {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;  
}
.logo {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 130px;
}

.logo h2 {
    font-size: 41px;
    font-family: "Ubuntu";
    line-height: 1.707;
    text-transform: uppercase;
    margin-left: 15px;
}
.logo span {
    color: #65a9d9;
}


nav ul {
    display: flex;
    
    
}
nav a {
    text-decoration: none;
    color: rgba(45, 57, 76, 0.839);
    font-size: 16px;
    text-transform: uppercase;
}
nav li {
    list-style: none;
    font-family: "Ubuntu";
    margin-left: 33px;
}
.navi {
    
    display: flex;
    align-items: center;
    padding-right: 111px;
}
.fon {
    background-image: url(../images/fon_3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 843px;
    padding-top: 18%;
    padding-left: 13%;
    padding-bottom: 150px;
}
.fon h3 {
    color: #f7f6f2;
    font-family: Ubuntu;
    font-size: 52px;
    text-transform: uppercase;
    padding-bottom: 50px;
}
.block_1 li:hover {
        text-decoration: underline;
}
.block_2 {
    
    
    width: 585px;
}
.block_2 p{
    font-family: "UbuntuMedium";
    color: #ffffff;
    font-size: 20px;
    padding-bottom: 50px;
}
.text_1 {
    background-color: #ffce54;
    border-radius: 5px;
    padding: 3px 10px;
    
}
 .block_2 input {
     padding: 15px;
     color: #2d394c;
    font-family: "Ubuntu";
    border-radius: 10px;
    padding-right: 140px;
 } 
 .text_2 {
    background-color: #77c344;
    color: #ffffff;
    font-family: "Ubuntu";
    border-radius: 5px;
    padding: 18px 30px;
    margin-left: 30px;
 }
 .block_2 a {
    text-decoration: none;
    color: #ffffff;
}

 .block_4 {
     
    text-align: center;
    margin:  100px 0;
    font-size: 40px;
    font-family: "Ubuntu";
    color: rgba(45, 57, 76, 0.851);
    text-transform: uppercase;
 }
 .fon_1 {
    display: flex;
    Justify-content: space-between; 
 }
.block_5 {
    
    width: 35%; 
    margin: 0 auto;
    margin-top: 5%;
}
.block_6 {
    height: 850px;
    background-image: url(../images/fon_4.jpg);
    width: 48%;
    background-repeat: no-repeat;
    background-size: cover;
}
.block_5 h4 {
    color: #2d394c;
    font-family: Ubuntu;
    font-size: 22px;
    margin-bottom: 20px;

}
  .block_5 img {
      float: left;
      padding-left: 20px;
      padding-right: 15px;
  }
  .block_5 p {
      padding: 20px;
      font-family: "OpenSans";
      color: #9499a2;
      text-align: justify;
  }
  .fon_2 {
    background-image: url(../images/fon_5.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    height: 530px;
    padding-left: 13%;
    padding-bottom: 50px;
  }
  .fon_2 h2 {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 80px;
    opacity: 0.9;
    color: #2d394c;
    font-family: Ubuntu;
    font-size: 40px;
  }
  .block_7 img{
    float: left;
  }
  .block_7 h4 {
    color: #2d394c;
    font-family: Ubuntu;
    font-size: 28px;
    padding-left: 80px;
  }
  .text_4 {
      
      width: 650px;
      margin-bottom: 300px;
  }
  .block_7 p {
    margin-top: 40px;
    opacity: 0.89;
    color: #5a626e;
    font-family: "Open Sans";
    font-size: 16px;
  }
.fon_3 {
    
    height: 400px;
}
.fon_3 h3 {
    text-align: center;
    color: #5a626e;
    font-family: "Ubuntu";
    font-size: 40px;
    text-transform: uppercase;
    padding-top: 40px;
}
.fon_3 p {
    color: #5a626e;
    font-family: "Ubuntu - Light Italic";
    font-size: 24px;
    text-align: center;
    padding-top: 20px;
}
.text_5 {
    
    text-align: center;
    padding-top: 50px;
}
.text_5 input {
    padding: 15px;
    color: #2d394c;
   font-family: "Ubuntu";
   border-radius: 10px;
   padding-right: 200px;
}
.text_5 a {
    text-decoration: none;
    color: #ffffff;
}
.text_6 {
    background-color: #77c344;
    
    font-family: "Ubuntu";
    border-radius: 2px;
    padding: 20px 50px;
    margin-left: 40px;
}
.block_8 {
    display: flex;
    background-color: #f9f9f9;
    Justify-content: space-between;
}
.logo_2 {
    display: flex;
    padding: 25px 80px;
}
.block_8 h2 {
    text-transform: uppercase;
    font-family: "Ubuntu";
    color: #a2a2a2;
}
.block_8 li:hover {
    text-decoration: underline;
}
.logo_2 span {
    color: #d1d1d1;
}
